.key-highlights-container {
    margin-top: 40px;
    position: relative;
    height: 850px;
    overflow: hidden;
  }
  
  .background {
    position: absolute;
    width: 100%;
    background-repeat: repeat-y;
    background-size: cover;
  }
  
 
  
  .highlights-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .key-highlights-text {
    position: absolute;
    top: 5%;
    width: 30%;
    z-index: 1;
  }
  
  .pink-box {
    position: absolute;
    top: 72%;
    left: 50%;
    width: 28%;
    z-index: 2;
  }
  
  .blue-box {
    position: absolute;
    top: 50%;
    left: 15%;
    width: 28%;
    z-index: 2;
  }
  
  .red-box {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 28%;
    z-index: 2;
  }

  .wallet-image{
    position: absolute;
    height: 30%;
    top: 14%;
    left: 46%;
    z-index: 3;
  }

  .wallet-image-text{
    position: absolute;
    height: 10%;
    top: 27.5%;
    left: 59%;
    z-index: 3;
  }

  .coin-chart-image{
    position: absolute;
    height: 22%;
    top: 45%;
    left: 13%;
    z-index: 3;
  }

  .coin-chart-image-text{
    position: absolute;
    height: 12%;
    top: 52%;
    left: 24%;
    z-index: 3;
  }

  .socials-image{
    position: absolute;
    height: 18%;
    top: 70%;
    left: 49%;
    z-index: 3;
  }

  .socials-image-text{
    position: absolute;
    height: 10%;
    top: 76%;
    left: 58%;
    z-index: 3;
  }

  