.contact-us {
    padding-top: 0px;
    height: 509px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.36) 0%, rgba(0, 0, 0, 0.36) 100%);
    color: white;
}

.contact-us-image{
    width: 400px;
    margin-bottom: 150px;
}
.contact-icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    padding-top: 20px;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 15px;
}

.contact-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}