.how-it-works-container {
    margin-top: 40px;
    background: transparent;
    height: 750px;
    display: flex;
    flex-direction: column;
    /* background-color: purple; */
}

.how-it-works-image {
    position: relative;
    display: flex;
    justify-content: center;
}

.bottom-image {
    z-index: 1; 
}

.top-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%); 
    z-index: 2;
}

.base-image{
    margin-top: 100px;
    z-index: 1;
}

.mid-image{
    width: 36%;
    height: 46%;
    position: absolute;
    margin-bottom: 200px;
    left: 160px;
    top: 785.5px;
    z-index: 2;
}

.up-image{
    width: 35%;
    height: 45%;
    position: absolute;
    margin-bottom: 200px;
    left: 168px;
    top: 788.5px;
    z-index: 3;
}

.mid-image-1{
    width: 36%;
    height: 46%;
    position: absolute;
    margin-bottom: 200px;
    left: 870px;
    top: 785.5px;
    z-index: 2;
}
.up-image-1{
    width: 35%;
    height: 45%;
    position: absolute;
    margin-bottom: 200px;
    left: 878px;
    top: 788.5px;
    z-index: 3;
}

.creator-image{
    height: 13%;
    padding-top: 50px;
}

.supporter-image{
    height: 15%;
    padding-top: 50px;
}

.video-1, .video-2 {
    width: 36%;
    height: 46%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-1 {
    left: 160px;
    top: 785.5px;
}

.video-2 {
    left: 870px;
    top: 785.5px;
}

.video-element {
    width: 100%;
    height: 100%;
    object-fit: cover;
}